# Python 3.8 or higher

# Data manipulation and analysis
numpy==1.24.3
pandas==2.0.2

# Symbolic mathematics
sympy==1.12

# Jupyter notebook
jupyter==1.0.0
ipython==8.12.0
ipykernel==6.23.1  # Added ipykernel

# Plotting
matplotlib==3.7.1
seaborn==0.13.2

# Geospatial calculations
geopy==2.3.0
geopandas==1.0.1

# Add any other dependencies your project might need# Python 3.8 or higher

# Data manipulation and analysis
numpy==1.24.3
pandas==2.0.2

# Symbolic mathematics
sympy==1.12

# Jupyter notebook
jupyter==1.0.0
ipython==8.12.0
ipykernel==6.23.1  # Added ipykernel

# Plotting
matplotlib==3.7.1

# Geospatial calculations
geopy==2.3.0

scikit-learn==1.5.2